/* SECTOR HEADER*/

.logo {
    width: 150px;
    float: left;
}

a {
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    color: $color-negro;
}

body {
    background-image: url(../img/fondo2.jpg);
    text-align: center;
}

h1 {
    text-align: center;
    display: inline-block;
    padding: 10px;
    background-color: $color-fondo;
    color: $color-blanco;
    margin-bottom: 0px;
}

p {
    font-family: 'Roboto Mono', monospace;
}

/* SECTOR MAIN */

main {
    margin: 0px;
    padding: 0px;
}

/* IMAGEN HERO TOP */

.hero {
    height: 60vh;
    margin-bottom: 2%;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media (max-width: 763px) {
    .hero {
        height: 60vh;
        margin-top: 0px;
    }
}

@media (max-width: 468px) {
    .hero {
        height: 20vh;
    }
}