/*TRABAJOS REALIZADOS*/

.h2_trabajos {
    padding: 15px;
    margin: 15px;
    text-align: center;
}

.item {
    height: 500px;
    border: 3px solid $color-negro;
    border-radius: 20px;
}

.item1 {
    background-image: url(../img/trabajos/1a.jpg);
    background-size: cover;
}

.item2 {
    background-image: url(../img/trabajos/2a.jpg);
    background-size: cover;
}

.item3 {
    background-image: url(../img/trabajos/3a.jpg);
    background-size: cover;
}

.item4 {
    background-image: url(../img/trabajos/4a.jpg);
    background-size: cover;
}

.item5 {
    background-image: url(../img/trabajos/5a.jpg);
    background-size: cover;
}

.item6 {
    background-image: url(../img/trabajos/6a.jpg);
    background-size: cover;
}

.item7 {
    background-image: url(../img/trabajos/7a.jpg);
    background-size: cover;
}

.item8 {
    background-image: url(../img/trabajos/8a.jpg);
    background-size: cover;
}

.item9 {
    background-image: url(../img/trabajos/9a.jpg);
    background-size: cover;
}